.Title{
    display: flex;

}

.TitleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Subtitle{
    display: flex;
    align-items: center;
    justify-content: center;

}